header{
    position: sticky;
    top: 0;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
header nav{
    display: flex;
    gap: 10px;
}
header div{
    display: flex;
    align-items: center;
    gap: 10px;
}
header img{
    width: 60px;
}
#banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
}
#hero-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin-top: 25vh;
}
.hero img{
    height: 55vh;
}
.hero-card{
    text-align: center;
    width: 200px;
    height: 60px;
}
.hero{
    padding-top: 30px;
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.hero div{
    width: 400px;
}
.cards{
    gap: 10%;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.card-meu img{
    width: 70%;
    height: 70%;
    border-radius: 10%;
}
.card-meu{
    gap: 20px;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2%;
    margin: 10px;
}
.extra{
    display: flex;
    align-items: center;
    justify-content: center;
}
#info{
    width: 500px;
}
.solicitar{
    gap: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.solicitar button{
    position: relative;
}
.efeito{
    align-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.extra h2{
    text-align: center;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
footer div{ 
    display: flex;
    align-items: center;
    gap: 10px;
}
footer img{
    width: 60px;
}
footer nav{
    display: flex;
    gap: 10px;
}
@media (max-width: 768px){
    .hero-card{
        width: 90px;
        height: 50px;
    }
    .hero-card h2{
        font-size: 0.8rem;
    }
    h1,h2{
        font-size: 1.2rem;
    }
    #info h2{
        font-size: 1.5rem;
    }
    .card h3{
        font-size: 1rem;
    }
    .hero h1{
        font-size: 2rem;
    }
    body{
        font-size: small;
    }
    header nav{
        flex-direction: column;
        gap: 1px;
    }
    footer nav{
        flex-direction: column;
        gap: 1px;
    }
    .hero{
        flex-direction: column;
        text-align: center;
    }
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin: 2%;
    }
    .extra{
        flex-direction: column;
    }
    #info{
        width: 300px;
    }
    .hero img{
        width: 400px;
    }
    .extra img{
        height: 400px;
    }
}
@media (min-width: 769px) and (max-width: 1024px){
    .hero-card{
        width: 150px;
        height: 50px;
    }
    .hero-card h2{
        font-size: 1rem;
    }
    h1,h2{
        font-size: 1.5rem;
    }
    #info h2{
        font-size: 2rem;
    }
    .card h3{
        font-size: 1.2rem;
    }
    .hero h1{
        font-size: 2.5rem;
    }
    body{
        font-size: medium;
    }
    .cards{
        flex-wrap: wrap;
    }
    .card{
        margin: 2%;
    }
    .hero img{
        width: 500px;
    }
    .extra img{
        height: 400px;
    }
}
